# Node
node_modules/
.next/
.next.cache/
*.log
.env
.env.local
.env.*.local

# Java
backend/target/
**/.idea/
**/.project
**/.settings

# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars

# OS
.DS_Store
